* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 20px;
}

li {
    list-style: none;
}


#logo {
    height: 32px;
    width: 167px;
    margin: 20px;

}

.shery {
    color: #757575;
}


.caixa_img_logo {
    height: 90px;
    width: 140px;
    padding: 15px;


}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


}




ul {
    display: flex;
    flex-direction: row;

}

.btn-login-in {
    height: 44px;
    width: 83.31px;
    border-radius: 50px;
    background-color: #EB662B;
    color: #ffffff;
    font-weight: lighter;
    border: none;
    font-size: 15px;
}

.banner {
    background-image: url(./assents/banner/Section.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 702.13px;
    width: 1800px;
    border-radius: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.texto-banner {
    font-size: 69.73px;
    color: #fff;
    display: flex;
    justify-content: center;


}

.texto-banner2 {
    font-size: 14.65px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.caixa-section {
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    border-radius: 12px;
}

.quadrado {
    border: 1px solid lightgrey;
    width: 50px;
    height: 50px;
    border-radius: 10px;

}

.onde {
    display: flex;
    flex-direction: row;

}

.quando {
    display: flex;
    flex-direction: row;
}

.tipo {
    display: flex;
    flex-direction: row;
}

.texto-pesquisa {
    font-size: 13.67px;
    color: #717171;
}

.titulo-pesquisa {
    font-size: 15px;
}

.caixa-subtexto-banner {
    padding: 10px;
}

.escolha {
    margin: auto;
    width: 1320px;
    height: 293.38px;
}

.titulo-primario {
    font-weight: 700;
    font-size: 30px;
}

.conteiner-icones {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.caixa-icones {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tituloo {
    font-size: 16.72px;
    font-weight: 500;
    font-weight: bold;
}

.texto-icone {
    font-size: 14.88px;
    font-weight: 400;
}

.estrura-titulo {
    margin-bottom: 50px;
}

.bi {
    font-size: 50px;
    color: #EB662B;
}

.section-carrosel {
    width: 1320px;
    margin: auto;


}

.caixa-box-titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-titulo {
    font-size: 30px;
    font-weight: 700;
}

.trending {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.trend {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cidades{
    font-size: 15 23px;
    font-weight: bold;
}
.Tours{
    font-size: 13px;
    font-weight: 400;
}
.find{
    width: 1320px ;
    margin: auto;



}

.popular{
    border: 1px solid black;
    width: 300px;
    height: 388px;
    border-radius: 12px;
    padding: 5px;
    gap: 10px;
    
}
.caixa-find{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    flex-wrap: wrap;
    gap: 15px;


}